{% extends 'bib/clthome.html' %}
{% block content %}
{% load static %}<link rel="stylesheet" , href="{% static 'css/home.css' %}">

<br/><br/><br/><br/><br/><br/><br/><br/><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp Adresse: H97Q+956, Av. de Nador, Casablanca 20250<br/><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp Phone Number: 0689610379
<div id="contentframe" style="position:relative; top: 120px; left: -100px;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30950.88187400103!2d-7.61912104785806!3d33.56509591439888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2aaa4af04a7%3A0x9df0ae4a067d1756!2sBiblioth%C3%A8que%20R%C3%A9gionale%20Maarif!5e0!3m2!1sen!2sma!4v1695139691263!5m2!1sen!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


{% endblock %}